@import "../../global.scss";

.portfolio{
    background-color: white;
    width:90%;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    


    h2{
        font-size: 50px;
        overflow: hidden;
        @include mobile{
            font-size: 20px;
        }

    }
    .container{
        text-align: center;
        justify-content: center;
        overflow: hidden;
        display: flex;
        width:100%;
        flex-wrap: wrap;
        @include mobile{
            margin-bottom: 0px;
            padding-bottom: 10px;
        }
      
        a{
           
            text-decoration: none;
            color:rgb(255, 89, 89);; 
            font-weight: bolder;
            overflow: hidden;
            margin-bottom: 10px;
            
        }

        .item{
            box-shadow: 5px 10px 5px 0 rgba(0,0,0,0.1);
            transition: 0.3s;
            width: 350px;
            height: 250px;
            margin-bottom: 5px;
            margin-right: 5px;
            flex-direction: column;
            overflow: hidden;

            @include mobile{
                width: 110px;
                height: 90px;
                overflow: hidden;
                flex-direction: column;
                
            }
            
            
            img{
                width: 90%;
                overflow: hidden;
                @include mobile{
                    width: 90px;
                    height: 40px;
                    overflow: hidden;
                }
                
            }
        }
        
    }
}