@import "../../global.scss";

.portfolio{
    background-color: white;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    


    h2{
        font-size: 50px;
        overflow: hidden;
        @include mobile{
            font-size: 20px;
        }

    }
    .container{
        text-align: center;
        justify-content: center;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        width:100vw;
        flex-wrap: wrap;
        @include mobile{
            margin-bottom: 0px;
            padding-bottom: 10px;
        }
        .project{
           margin: 15px;
          
            a{
                text-decoration: none;
                font-weight: bolder;
                overflow: hidden;
                margin-bottom: 10px;



                .item{
                    border: 5px solid rgb(235, 126, 126);
                    border-radius: 15px;
                    transition: 0.3s;
                    width: 270px;
                    height: 190px;
                    margin-bottom: 5px;
                    margin-right: 5px;
                    overflow: hidden;
                    color: red;
                    font-weight: bolder;
                    
                    
        
                    @include mobile{
                        width: 110px;
                        height: 90px;
                        overflow: hidden;
                        flex-direction: column;
                        
                    }                
                    img{
                        width: 90%;
                        overflow: hidden;
                        @include mobile{
                            width: 90px;
                            height: 40px;
                            overflow: hidden;
                        }
                        
                    }
                }

                .item:hover{
                    

                }
                
            }

        }
      
        
        
        
    }
}