@import "../../global.scss";
.work{
    background-color: rgb(255, 89, 89);
    width:100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .arrow{
        height: 70;
        position: absolute;
        color:rgb(121, 7, 7);;
        font-size: 50px;
        cursor: pointer;
        @include mobile{
            display: none;
        }
        
        &.left{
            left: 100px;
        }
        &.right{
            right: 100px;
        }
    
    }

    .slider{
        height: 350px;
        display: flex;
        position: absolute;
        left:00px;
        @include mobile{
            height: 100vh;
            justify-content: center;
            flex-direction: column;
        }
        .container{
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            @include mobile{
                width: 100vw;
             flex-direction: column;
            }
    
            .item{
                width: 700px;
                height: 100%;
                background-color:white;
                border-color: rgb(255, 89, 89);
                border-radius: 20px;    
                display: flex;
                align-items: center;
                justify-content: center;
                @include mobile{
                    width: 90%;
                    height:180px;
                    margin-top:10px;
                    
                }


                .left{
                    flex: 3;
                    height: 100%;
                    
                    
                    .left_container{
                       margin-top: 25%;
                        text-align: center;
                        justify-content: center;
                        align-items: center;
                        @include mobile{
                            margin-top: 10px;
                            overflow: hidden;
                        }

                        h2{
                            font-size: 30px;
                            font-weight: bolder;
                            padding-bottom: 25px;
                            @include mobile{
                                font-size: 20px;
                                padding-bottom: 5px;
                            }
                        }
                        p{
                            font-size: 20px;
                            margin: 15px 25px;
                        font-weight:500;
                            @include mobile{
                                font-size: 12px;
                                margin: 5px 10px;
                                padding: 3px 1px;
                                overflow: hidden;
                                
                            }
                        
                        }
                    }
                }
                .right{
                    flex: 4;
                    height: 100%;
                    display: flex;
                   
                    flex-direction: column;
                    justify-content: center;
                    overflow: hidden;

                   

                        img{
                            width: 400px;
                            height: 300px;
                            @include mobile{
                                width:200px;
                                height: 100px;
                            }
                        }
                    
                }
            }
        }
    }

   
}