@import "../../global.scss";
.footer{
    width: 100vw;
padding:10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block;
    background-color: rgb(255, 89, 89);


    .right{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-size: 14px;
        font-weight: bolder;
        @include mobile{
            font-size: 8px;
        }
        .mail{
            
            display: flex;
            
            span{
                font-weight: bold;
            }
        }
        .phone{
            display: flex;
            
            .span{
                font-weight: bold;
                
            }
        
        }
    }

    .end{
        font-size: 18px;
        color: white;
        font-weight: 300;
    }
}